.appContainer {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  .tabContent {
    padding: 50px 20px;
    color: white;
    margin-left: 30%;
  }
}

@media (max-width: 760px) {
  .appContainer {
    display: block;
    .tabContent {
      margin-left: 0;
      padding: 0;
    }
  }
}
