.techStacks {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  .stackCard {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 7px 12px;
    border: 1px solid;
    border-radius: 10px;
    font-size: 0.75rem;
    background: #022154;
    img {
      width: 20px;
    }
  }
}